# Rename this file to .env and fill in the details securely

DEBUG=False
SECRET_KEY="replace-this-on-production-with-random-characters"

# Your free Supabase Postgres Connection String
DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@db.xxxxxxxx.supabase.co:5432/postgres"

# Your GitHub webhook keys
GITHUB_WEBHOOK_SECRET="your-generated-string"
GITHUB_PERSONAL_ACCESS_TOKEN="ghp_xxxxx"
